@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-Primario: #D8DFE8;
    --color-Secundario: #0A3871;
    --color-Terciario: #FFFFFF;

    --fuente_Inter: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 2% 0% 0% 0.5%;
}

.header_Menu{
    display: flex;
    gap: 40px;
}

.header_Imagen{
    width: 120px;
}

body{
    background-color: var(--color-Primario);
    color: var(--color-Secundario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 0% 0% 12%;
}

.presentacion_Contenido{
    position: relative;
    width: 100vw;
    height: 100vh;
    gap: 240px;
    flex-flow: row wrap;
}

.presentacion_Contenido_Entrada_Texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    border: none;
    resize: none;
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-Secundario);
    background-color: var(--color-Primario);
}

.presentacion_Contenido_Entrada_Texto::placeholder{
    color: var(--color-Secundario);
    font-weight: 400;
    font-family: var(--fuente_Inter);
}

.presentacion_Contenido_Entrada_Texto:focus,
.presentacion_Contenido_Entrada_Texto:active{
    border: none;
    outline: none;
}

.presentacion_Contenido_Entrada_Terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 75%;
}

.presentacion_Contenido_Entrada_Terminos p{
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.presentacion_Contenido_Entrada_Botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 77%;
}

.boton_Encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-Secundario);
    border-radius: 24px;
    font-family: var(--fuente_Inter);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.boton_Desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-Primario);
    border: 1px solid var(--color-Secundario);
    border-radius: 24px;
    font-family: var(--fuente_Inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: var(--color-Secundario);
}

.boton_Encriptar:hover,
.boton_Desencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

@media (max-width: 1200px){
    .header_Imagen{
        width: 32px;
    }
    
}

@media (max-width: 600px){

    .header_Imagen{
        width: 32px;
    }    
}