@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-Primario: #D8DFE8;
    --color-Secundario: #0A3871;
    --color-Terciario: #FFFFFF;

    --fuente_Inter: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 2% 0% 0% 0.5%;
}

.header_Menu{
    display: flex;
    gap: 40px;
}

.header_Imagen{
    width: 120px;
}

body{
    background-color: var(--color-Primario);
    color: var(--color-Secundario);
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 0% 0% 12%;
}

.presentacion_Contenido{
    position: relative;
    width: 100vw;
    height: 100vh;
    gap: 240px;
    flex-flow: row wrap;
}

.presentacion_Contenido_Entrada_Texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    border: none;
    resize: none;
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-Secundario);
    background-color: var(--color-Primario);
}

.presentacion_Contenido_Entrada_Texto::placeholder{
    color: var(--color-Secundario);
    font-weight: 400;
    font-family: var(--fuente_Inter);
}

.presentacion_Contenido_Entrada_Texto:focus,
.presentacion_Contenido_Entrada_Texto:active{
    border: none;
    outline: none;
}

.presentacion_Contenido_Entrada_Terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 75%;
}

.presentacion_Contenido_Entrada_Terminos p{
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.presentacion_Contenido_Entrada_Botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 77%;
}

.boton_Encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-Secundario);
    border-radius: 24px;
    font-family: var(--fuente_Inter);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.boton_Desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--color-Primario);
    border: 1px solid var(--color-Secundario);
    border-radius: 24px;
    font-family: var(--fuente_Inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: var(--color-Secundario);
}

.boton_Encriptar:hover,
.boton_Desencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.presentacion_Contenido_Salida{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0, 0.08);
    border-radius: 32px;
}

.presentacion_Contenido_Salida img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.mensaje_Encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje_Encriptado h2{
    width: 60%;
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensaje_Encriptado p{
    width: 80%;
    font-family: var(--fuente_Inter);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

/*Responsive design*/

/*Diseño para tablets*/
@media (max-width: 1024px){
    .presentacion_Contenido{
        display: flex;
        flex-direction: row;
    }

    .presentacion_Contenido_Entrada{
        width: 100%;
    }

    .presentacion_Contenido_Entrada_Texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .presentacion_Contenido_Entrada_Terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .presentacion_Contenido_Entrada_Terminos p{
        font-size: 16px;
    }

    .presentacion_Contenido_Entrada_Botones{
        width: 80%;
        height: 20%;
        left: 10%;
        top: 70%;
        gap: 20px;
    }

    .boton_Encriptar,
    .boton_Desencriptar{
        width: 48%;
        height: 25%;
        border-radius: 16px;
    }

    .boton_Encriptar:hover,
    .boton_Desencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .presentacion_Contenido_Salida{
        width: 80%;
        height: 12%;
        left: 5%;
        top: 80%;
    }

    .presentacion_Contenido_Salida img{
        top: 0;
        display: none;
        visibility: hidden;
    }

    .mensaje_Encriptado{
        width: 100%;
        top: 5%;
    }
}

/*Diseño para celular*/
@media (max-width: 600px){
    .presentacion_Contenido{
        display: flex;
        flex-direction: column;
    }

    .presentacion_Contenido_Entrada{
        width: 100%;
    }

    .presentacion_Contenido_Entrada_Texto{
        width: 85%;
        height: 40%;
        left: 2%;
        top: 5%;
    }
    .presentacion_Contenido_Entrada_Terminos{
        width: 85%;
        left: 0%;
        top: 50%;
    }

    .presentacion_Contenido_Entrada_Terminos p{
        font-size: 12px;
    }

    .presentacion_Contenido_Entrada_Botones{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 20%;
        left: 5%;
        top: 55%;
        gap: 20px;
    }

    .boton_Encriptar,
    .boton_Desencriptar{
        width: 90%;
        height: 30%;
        bottom: 5%;
    }

    .boton_Encriptar:hover,
    .boton_Desencriptar:hover{
        margin: 0.3%;
        width: 88%;
        padding: 1.8%;
    }

    .presentacion_Contenido_Salida{
        width: 90%;
        height: 18%;
        left: 0%;
        top: 78%;
    }

    .presentacion_Contenido_Salida img{
        top: 0;
        display: none;
        visibility: hidden;
    }

    .mensaje_Encriptado{
        width: 100%;
        top: 5%;
    }
}